<DOCTYPE.html>
<html>
<title>Registration form</title>
<body>
<style>
form{
        background-color:fec89a;
        padding-right:80px;
        padding-left:80px;
        border-radius:5%;
        width:200px;
        height:600px;

}
h1{
        background-color:cb997e;
        padding-right:80px;
        padding-left:80px;
        border-radius:5%;
        height:100px;
        width:200px;
        text-size:medium;
}
button{
        background-color:green;
        border-radius:2px;
}
</style>
<h1>Registration form</h1>
<form method="POST" class="register">
{{forms.as_p}}
<button type="submit">submit<button>
</form>

</body>
</html>